<div class="header">
  <a href="/" class="header-link">
    <img class="logo" src="/assets/icons8-issue-tracking-32.png" alt="logo image">
    <span>
      <h1 class="logo-text">Issue Tracker</h1>
    </span>
  </a>
  <div class="profile-section">
    <img class="profile-logo" src="/assets/user.png" alt="profile logo">
    <p>John Doe</p>
  </div>
  
</div>